<%- include('layout/dbInfo') %>

    <div class="col d-flex justify-content-center">
        <h4>Select a query from the dropdown menu to the left</h4>
    </div>

    <div class="col">
    </div>

    </div>
    </div>