<% layout('layout/boilerplate') %>

    <div class="d-flex justify-content-center">
        <div class="card title-card">
            <div class="card-body">
                <h1 class="text-center title">BestRent</h1>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card group-card">
            <div class="card-body">
                <h2 class="text-center group">
                    Group 9: Carlos Houghton, Abdoul Karim Konate, Mary Rankin, Corey Smith
                </h2>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center info-section">
        <div class="row">

            <div class="col d-flex justify-content-center">
                <div class="card project-info-card">
                    <div class="card-header project-info-header">
                        <h2 class="text-center">Project Info</h2>
                    </div>
                    <div class="card-body">
                        <p class="text-center project-info-body">
                            BestRent allows you to compare rent prices across time and location in the United
                            States. Select cities, states, and regions and a time period to retrieve a graph
                            displaying
                            rent
                            data from the Zillow Zestimate Rent Index.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="d-flex justify-content-center">
                    <a href="/search">
                        <button type="button" class="btn btn-lg get-started-btn">
                            Get Started
                        </button>
                    </a>
                </div>
            </div>

            <div class="col">
            </div>

        </div>
    </div>