<%- include('query4') %>

    <div class="col-8 d-flex justify-content-center">
        <div class="query-graph mx-5">
            <h1>GRAPH</h1>
            <h2>
                <%= querySelections.location %>
            </h2>
            <h3>
                <%= querySelections.startingYear %> to <%= querySelections.endingYear %>
            </h3>
        </div>
    </div>

    </div>
    </div>