<%- include('layout/dbInfo') %>

    <div class="col d-flex justify-content-center">
        <a href="/search">
            <button class="btn btn-secondary dropdown-btn" type="button">
                Basic City Search
            </button>
        </a>
    </div>

    <div class="col">
    </div>

    </div>
    </div>

    <div>Query 3</div>