<%- include('layout/dbInfo') %>

    <div class="col d-flex justify-content-center">
        <a href="/search">
            <button class="btn btn-secondary dropdown-btn" type="button">
                Basic City Search
            </button>
        </a>
    </div>

    <div class="col">
    </div>

    </div>
    </div>

    <div class="d-flex justify-content-center query-section">
        <div class="row search-row">

            <div class="col-4 d-flex justify-content-center">
                <div class="card query-selectors">
                    <div class="card-body">
                        <h5 class="card-title text-center">Price Per Square Foot Over Time</h5>
                        <p class="card-text">~Description of query~</p>

                        <form action="/query1" method="POST">
                            <div class="mb-3">
                                <label for="startingYear" class="form-label">Starting Year</label>
                                <select class="form-select" aria-label="startingYear" id="startingYear"
                                    name="startingYear">
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="endingYear" class="form-label">Ending Year</label>
                                <select class="form-select" aria-label="endingYear" id="endingYear" name="endingYear">
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>

                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">See full range</label>
                            </div>

                            <div class="mb-3">
                                <div>
                                    <label for="city" class="form-label">City</label>
                                </div>
                                <div class="d-inline-flex">
                                    <input type="text" class="form-control" id="city" name="city"
                                        aria-describedby="city">
                                    <button type="submit" class="btn btn-primary mx-3">Add</button>
                                </div>
                            </div>

                            <div class="card added-locations-box mt-5">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Added Locations</h5>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary mt-5">Graph Query</button>
                        </form>
                    </div>
                </div>
            </div>


            <div>
                <% if (errorMsg) { %>
                    <p>
                        <%= errorMsg %>
                    </p>
                    <% } %>
            </div>