<%- include('layout/dbInfo') %>

    <div class="col d-flex justify-content-center">
        <form action="/search" method="POST">
            <div class="mb-3 d-inline-flex">
                <input type="text" class="form-control search-field" id="city" name="city" aria-describedby="city"
                    placeholder="Search by city">
                <button type="submit" class="btn btn-primary search-btn">Search</button>
            </div>
        </form>
    </div>

    <div class="col">
    </div>

    </div>
    </div>