.main {
    margin-top: 5%;
    border: rgb(202, 202, 202) 0.1rem solid;
    background-color: #f5f5f5;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.title-card {
    background-color: #006aff;
    width: 40%;
    margin-top: 5%;
}

.title {
    font-size: 5rem;
    color: white;
}

.group-card {
    background-color: #b1cffa;
    width: 40%;
    height: 4rem;
    margin-top: 1%;
}

.group {
    font-size: 1.3rem;
}

.info-section {
    margin-top: 4%;
}

.project-info-card {
    width: 75%;
}

.project-info-header {
    background-color: #5e6164;
    color: white;
    height: 4rem;
}

.project-info-body {
    color: black;
    font-size: 1.25rem;
}

.get-started-btn {
    background-color: #1dca51;
    color: #093a17;
    font-size: 1.75rem;
    height: 8rem;
    width: 12rem;
}

.get-started-btn:hover {
    background-color: #6bdb8c;
}

.db-info-card {
    width: 40%;
    background-color: #d9e6f7;
}

.db-info-header {
    background-color: #b1cffa;
}

.db-info-title {
    font-size: 2rem;
    color: #5e6164;
}

.db-info-text {
    font-size: 1.1rem;
}

.num-tuples-btn {
    background-color: #1dca51;
    color: #093a17;
    font-size: 1.25rem;
}

.num-tuples-btn:hover {
    background-color: #6bdb8c;
}

.flash {
    width: 40%;
}

.dropdown-btn {
    width: 25rem;
}

.dropdown-options {
    width: 25rem;
}

.search-section {
    margin-top: 2%;
}

.search-row {
    width: 100%;
}

.graph {
    width: 30%;
    height: 30rem;
    border: rgb(202, 202, 202) 0.1rem solid;
}

.city-info {
    width: 13%;
}

.query-section {
    margin-top: 4%;
}

.query-selectors {
    width: 30rem;
}

.added-locations-box {
    background-color: #b1b1b1;
}

.query-graph {
    width: 60%;
    height: 30rem;
    border: rgb(202, 202, 202) 0.1rem solid;
}