<% layout('layout/boilerplate') %>

    <div class="d-flex mx-5 mt-5">
        <a href="/">Back to Home</a>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card db-info-card">
            <div class="card-header db-info-header">
                <h1 class="text-center db-info-title">Database Information</h1>
            </div>
            <div class="card-body">
                <p class="text-center db-info-text">
                    Data comes from the Zillow Rent Index, which includes median estimated rental prices for cities
                    across the United States. This price data is presented on a month-to-month basis between the years
                    2010 and 2017. Both rental price and rental price per square foot are included as separate datasets.
                    Data about a city's
                    county, state, and region are used for more general location-based searches.
                </p>
                <div class="d-flex justify-content-center">
                    <a href="/numtuples">
                        <button type="button" class="btn num-tuples-btn">Number of Tuples</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <%- include('../flash') %>
    </div>

    <div class="d-flex justify-content-center search-section">
        <div class="row search-row">

            <div class="col d-flex justify-content-center">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle dropdown-btn" type="button"
                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Queries
                    </button>
                    <ul class="dropdown-menu dropdown-options" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/query1">Average Rent Price Per Year by City</a></li>
                        <li><a class="dropdown-item" href="/query2">Average Rent Price Per Square Foot by State</a></li>
                        <li><a class="dropdown-item" href="/query3">Yearly Change in Rent Price by Region</a></li>
                        <li><a class="dropdown-item" href="/query4">Difference in Most and Least Expensive Cities by
                                State</a></li>
                        <li><a class="dropdown-item" href="/query5">Average Square Footage Per Year by City</a></li>
                        <li><a class="dropdown-item" href="/query6">Cheapest Alternative for a City</a></li>
                    </ul>
                </div>
            </div>